<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of users. One page to rule them all.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<header th:replace="blocks/navbar :: navigationbar"/>

<div class="container-fluid">
    <div class="row ">
        <div class="nav flex-column col-lg-1 nav-pills" style="background-color: white">
            <button class="nav-link active g-0 mt-2" id="v-pills-admin-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin"
                    aria-selected="true">Admin
            </button>
            <button class="nav-link g-0" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">User
            </button>
            <!--            <div th:replace="blocks/panselector :: panselector2"/>-->
            <!--            <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group ">
                            <div th:each="authority : ${#authentication.getAuthorities()}"
                                 th:if="${!authority.getAuthority().equals('ROLE_ADMIN')}"
                                 th:hidden=""
                            >
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked="">
                            <label class="btn btn-outline-primary" for="vbtn-radio1">Admin</label>
                            </div>
                            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                            <label class="btn btn-outline-danger" for="vbtn-radio2">User</label>

                        </div>-->
            <!--<div
                 class="nav nav-pills container-fluid" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div class="flex-content fluid" th:hidden="${#authorization.expression('!hasRole(''ROLE_ADMIN'')')>
                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                       class="nav-link active"
                       id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                       aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                </div>

                <div>
                    <a class="nav-link"
                       th:classappend="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ? '' : 'active'}"
                       id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user" aria-selected="false"

                    >User</a>
                </div>
            </div>-->
        </div>
        <div class="col-lg-11" style="background-color: ghostwhite">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div th:replace="blocks/tablist :: tablist"/>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div th:replace="blocks/currentuserinfo :: userinfo"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="blocks/modaledit :: modaledit"/>

<div th:replace="blocks/modaldelete :: modaldelete"/>

<hr/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>-->
<!--<script type="module" th:src="@{/static/js/all-users.js}"></script>-->
<!--<script type="text/javascript" src="/static/js/all-users.js"></script>-->
<!--<script type="text/javascript" src="../static/js/all-users.js"></script>-->

<!-- Thymeleaf is VERY helpful here! Also https://www.baeldung.com/spring-mvc-static-resources -->
<script th:src="@{/js/allroles.js}" type="text/javascript"></script>
<script th:src="@{/js/all-users.js}" type="text/javascript"></script>
<script th:src="@{/js/adduser.js}" type="text/javascript"></script>
<script th:src="@{/js/edituser.js}" type="text/javascript"></script>
<script th:src="@{/js/deleteuser.js}" type="text/javascript"></script>

</body>
</html>