<div th:fragment="userinfo" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h3 class="w-100"> User Information - page</h3>
    <div class="container-fluid border">
        <caption class="container col-2 justify-content-center">
            <h5>About user</h5>
        </caption>
        <div class="w-100" style="background-color: white">
            <hr>
            <table class="table table-striped table-border-top-light w-100">

                <thead>
                <tr>
                    <th th>ID</th>
                    <th th>Name</th>
                    <th th>Password</th>
                    <th th>Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td sec:authentication="principal.id"></td>
                    <td sec:authentication="principal.username"></td>
                    <td sec:authentication="principal.password"></td>
                    <td>
                        <span th:each="authority : ${#authentication.getAuthorities()}"
                              th:if="${authority.getAuthority().startsWith('ROLE_')}"
                              th:text="${authority.getAuthority().replaceFirst('ROLE_', ' ')}">
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>